body {
    background-image: url('background.jpg')
  }
  
#showcase.heading{
    background-color: white;
    padding: 15px 0px 2px 0px;
    margin: 0px 0px 30px 0px;
}

#showcase h1{
    font-size: 4.2em;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 70px;
    margin: 0px 0px 0px -5px;
    padding: 0;
    text-align: center;
}

#showcase h2{
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 18px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    letter-spacing: 5px;
}

#showcase .my-countdown .countdown-row{
    display:block;
    text-align: center;
    color: white;
    display: inline-block;
    width: 100px;
    font-size: 5.6em;
    line-height: 55px;
}